{{> nav class="admin-nav"}}
<div class="admin">
  <div class="main-layout">
    <section class="wrapper">
    <ul class="tabs">
      <li class="active">Beers</li>
      <li>Requests</li>
      <li>Users</li>
    </ul>
    <ul class="tab__content">
      <li class="active">
        <div class="content__wrapper">
          <div class="table-wrapper">
            <table class="beers-table">
              <thead>
                <tr>
                  <td>id</td>
                  <td>name</td>
                  <td>brewery</td>
                  <td>brewerydbId</td>
                  <td>score</td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          <div class="table-wrapper">
            <table class="requests-table">
              <thead>
                <tr>
                  <td>id</td>
                  <td>name</td>
                  <td>brewerydbId</td>
                  <td>accept</td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </li>
      <li>
        <div class="content__wrapper">
          <div class="table-wrapper">
            <table class="users-table">
              <thead>
                <tr>
                  <td>id</td>
                  <td>email</td>
                  <td>admin</td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
    </section>
  </div>
</div>