<div class="main-layout">
  <div class="beer-cards">
    <a href="#" class="card js-tilt">
      <span class="backdrop"></span>
      <span>Beer 1</span>
    </a>
    <a href="#" class="card js-tilt">
      <span class="backdrop"></span>
      <span>Beer 2</span>
    </a>
    <a href="#" class="card js-tilt">
      <span class="backdrop"></span>
      <span>Beer 3</span>
    </a>
  </div>
</div>
