<div class="access-form login">
  <img src="../res/full-banner.png">
  <form action="/login" method="post">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">SUBMIT</button>
  </form>
</div>