<div class="login">
  <form action="/login" method="post">
    <input name="email" type="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <input type="submit" value="submit">
  </form>
</div>