<div class="access-form login">
  <form action="/login" method="post">
    <input name="email" type="email" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Submit</button>
  </form>
</div>