<div class="access-form login">
  <img src="/res/full-banner.png">
  <form action="/login" method="post">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">LOGIN</button>
    <a href="/register" class="message">No account? Click here to register.</a>
  </form>
</div>