<!--






         ___      _                          _          ____   ___  _ _____ 
        / _ \_ __(_)________ /\  /\__ _  ___| | _____  |___ \ / _ \/ |___  |
       / /_\/ '__| |_  /_  // /_/ / _` |/ __| |/ / __|   __) | | | | |  / / 
      / /_\\| |  | |/ / / // __  / (_| | (__|   <\__ \  / __/| |_| | | / /  
      \____/|_|  |_/___/___\/ /_/ \__,_|\___|_|\_\___/ |_____|\___/|_|/_/   

            Beer Guardian was created from scratch and with love by 
                        Arnaud Crowther and Dan Dyla                         
                                                                                      
                                 ,d88b.d88b,
                                 88888888888
                                 `Y8888888Y'
                                   `Y888Y'  
                                     `Y'
                                                                    









-->
<!doctype html>
<html>
  <head>
    <title>Beer Guardian | GrizzHacks 2017</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arnaud P. Crowther, Daniel T. Dyla">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Open+Sans:300,400">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    {{{body}}}
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/tilt-js/src/tilt.jquery.js"></script>
    <script src="/js/main.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48714212-21"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-48714212-21');
    </script>
  </body>
</html>