<!doctype html>
<html>
  <head>
    <title>Beer Guardian</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Arnaud P. Crowther, Daniel T. Dyla">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Open+Sans:300,400">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    {{{body}}}
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/tilt-js/src/tilt.jquery.js"></script>
    <script src="/js/main.min.js"></script>
  </body>
</html>