<div class="access-form register">
  <img src="../res/full-banner.png">
  <form action="/register" method="post">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">Submit</button>
  </form>
</div>