<div class="access-form register">
  <a href="/"><img src="/res/full-banner.png"></a>
  <form action="/register" method="post">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">REGISTER</button>
    <a href="/login" class="message">Already registered? Click here to login.</a>
  </form>
</div>