
@font-face {
  font-family: BerninaSans-Reg;
    src: url(fonts/BerninaSans-Web-Regular.woff) format("woff"),url(fonts/BerninaSans-Web-Regular.woff2) format("woff2");
  font-weight: 500; }

@font-face {
  font-family: BerninaSans;
    src: url(fonts/BerninaSans-Web-Light.woff) format("woff"),url(fonts/BerninaSans-Web-Light.woff2) format("woff2");
  font-weight: 300; }

@font-face {
  font-family: BerninaSans;
    src: url(fonts/BerninaSans-Web-Bold.woff) format("woff"),url(fonts/BerninaSans-Web-Bold.woff2) format("woff2");
  font-weight: 800; }
