// beer cards
// ==========


.main-layout {
  padding-top: 100px;
  padding-bottom: 100px;
  .beer-cards {
    .card {
      text-align: left;
      width: 280px;
      height: 280px;
      box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
      display: inline-block;
      align-items: center;
      justify-content: center;
      color: white;
      text-decoration: none;
      transform-style: preserve-3d;
      transform: perspective(500px);
      position: relative;
      margin: 10px 10px 50px 10px;
      border-radius: 4px;
      background-size: auto 110%;
      background-position: center;
      position: relative;
      cursor: pointer;
      .score {
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        color: #fff;
        pointer-events: none;
        span {
          background: #141414;
          padding: 3px 10px;
          border-radius: 4px;
          font-family: 'Anton', sans-serif;
          box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 70px -10px rgba(#000, .7), 0 50px 100px 0 rgba(#000, .2);
        }
        .negative {
          background: #630000;
        }
      }
      .top {
        transform: translateZ(50px) translateY(-10px) scale(1);
        position: absolute;
        top: 15px;
        left: 10px;
        right: 10px;
        z-index: 10;
        opacity: 0;
        transition: all .2s ease-out;
        padding: 20px;
        font-size: 24px;
        .title {
          font-size: 20px;
          font-family: 'Anton', sans-serif;
          max-width: 266px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .meta {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          max-width: 266px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .bottom {
        transform: translateZ(50px) translateY(10px) scale(1);
        position: absolute;
        bottom: 15px;
        left: 10px;
        right: 10px;
        z-index: 10;
        opacity: 0;
        transition: all .2s ease-out;
        .vote {
          font-size: 40px;
          padding: 20px 0;
          text-align: center;
          transition: all .2s ease;
          img {
            height: 50px;
          }
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      .js-tilt-glare {
        border-radius: 4px;
      }
      &:after { 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        box-shadow: 0 20px 70px -10px rgba(#000, .7), 0 50px 100px 0 rgba(#000, .2);
        z-index: -1;
        transform: translateZ(-50px);
        transition: .3s;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 2;
        border-radius: 4px;
        opacity: 0;
        transition: all 0.3s ease;
        transform: translateZ(0.1px);
      }
      &:hover {
        .bottom, .top {
          opacity: 1;
        }
        .top {
          transform: translateZ(50px) translateY(0px) scale(1);
        }
        .bottom {
          transform: translateZ(50px) translateY(0px) scale(1);
        }
        &:before {
          opacity: 1;
        }
      }
      p {
        display: none;
      }
    }
    .no-label {
      background-size: 60%;
      background-color: #343434;
      background-repeat: no-repeat;
      background-image: url(../res/pint.svg);
      background-blend-mode: overlay;
      .top {
        opacity: 1;
      }
      &:before {
        display: none;
      }
    }
    .card-add {
      background: #343434;
      &:before {
        display: none;
      }
      img {
        height: 80px;
        width: 80px;
        transform: translateZ(50px) scale(1);
        z-index: 10;
      }
    }
  }
}