// main layout
// ===========


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  outline:0;
}
.col-wrapper {
  font-size: 0;
  .col {
    display: inline-block; 
    font-size: 14px; 
    vertical-align: top; 
  }
  .one    { width: 8.3333333333%; }
  .two    { width: 16.6666666666; }
  .three  { width: 24.9999999999%; }
  .four   { width: 33.3333333333%; }
  .five   { width: 41.6666666665%; }
  .six    { width: 49.9999999998%; }
  .seven  { width: 58.3333333331%; }
  .eight  { width: 66.6666666664%; }
  .nine   { width: 74.9999999997%; }
  .ten    { width: 83.333333333%; }
  .eleven { width: 91.6666666663%; }
  .twelve { width: 100%; }
} 
.abs-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.layout-center {
  max-width: 1025px;
  width: 100%;
  margin: auto;
}
body {
  background: #282B2D;
  font-family: 'Open Sans', sans-serif;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}


.main-layout {
  padding: 0 6%;
}



#loading {
  padding-top: 5%;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #282b2d;
  z-index: 100;
  text-align: center;
  .inner {
    height: 250px;
    width: 300px;
    img {
      height: 200px;
      margin-bottom: 40px;
    }
    .loader {
      margin: auto;
      width: 150px;
      height: 4px;
      background: rgba(201, 129, 42, 0.36);
      overflow: hidden;
      .loader-line {
        height: 4px;
        background: #C0863E;
      }
      .a-loop {
        animation: 1.7s infinite loop cubic-bezier(0.420, 0.000, 0.580, 1.000);
      }
      @keyframes loop {
        0% {
          width: 0%;
          transform: translateX(0%);
        }
        7% {
          width: 10%;
          transform: translateX(0%);
        }
        40% {
          width: 60%;
        }
        50% {
          transform: translateX(85%);
        }
        
        75% {
          width: 100%;
        }
        100% {
          transform: translateX(100%);
        }
      }
    }
  } 
}



.page-loaded {
  #loading {
    opacity: 0;
    visibility: hidden;
  }
}




.footer {
  background: #202024;
  position: relative;
  padding: 100px 10%;
  img {
    height: 130px;

  }
  ul {
    position: absolute;
    right: 10%;
    top: 100px;
    list-style: none;
    text-align: right;
    border-left: 1px solid rgba(255, 255, 255, 0.14);
    padding-left: 50px;
    li {
      a {
        text-decoration: none;
        color: silver;
        font-size: 10px;
        padding: 5px 0;
        opacity: .8;
        transition: all .2 ease;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}