// main layout
// ===========


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
}
.col-wrapper {
  font-size: 0;
  .col {
    display: inline-block; 
    font-size: 14px; 
    vertical-align: top; 
  }
  .one    { width: 8.3333333333%; }
  .two    { width: 16.6666666666; }
  .three  { width: 24.9999999999%; }
  .four   { width: 33.3333333332%; }
  .five   { width: 41.6666666665%; }
  .six    { width: 49.9999999998%; }
  .seven  { width: 58.3333333331%; }
  .eight  { width: 66.6666666664%; }
  .nine   { width: 74.9999999997%; }
  .ten    { width: 83.333333333%; }
  .eleven { width: 91.6666666663%; }
  .twelve { width: 100%; }
} 
.abs-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.layout-center {
  max-width: 1025px;
  width: 100%;
  margin: auto;
}
body {
  background: #282B2D;
  font-family: 'Open Sans', sans-serif;
}