// beer modal
// ==========


.modal-cover {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.68);
  display: none;
  z-index: 100;
  transform: translateZ(60px);
}
.modal {
  z-index: 101;
  position: fixed;
  opacity: 0;
  transition: transform .1s ease-in;
  transform: translate(0, 40px) scale(0.9);
  visibility: hidden;
  height: 650px;
  width: 740px;
  background: #DFDFDF; 
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.active-beer-modal {
  .image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: -40px;
    top: -35px;
    background-image: url(../res/example/1.jpg); //make default pls
    background-size: cover;
    background-position: center;
    border: 4px solid white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 1;
  }
  .inner {
    .header {
      text-align: right;
      background: #CECECE;
      border-radius: 4px 4px 0 0;
      position: relative;
      padding: 30px 50px;
      .title {
        font-size: 40px;
        font-family: 'Anton', sans-serif;
        color: #202020;
      }
      .brewery {
        font-size: 20px;
      }
    }
    .body {
      padding: 50px 30px 30px 30px;
      .col {
        span {
          display: inline-block;
          font-size: 12px;
          color: #858585;
          margin-bottom: 10px;
          border-bottom: 1px solid #9C9C9C;
          padding-bottom: 4px;
          font-family: 'Anton', sans-serif;
        }
      }
      .desc {
        p {
          line-height: 1.5;
          margin-top: 10px;
          font-weight: 300;
          $font-size: 14px;
          $line-height: 1.5;
          $lines-to-show: 16;
          display: -webkit-box;
          height: $font-size*$line-height*$lines-to-show;
          font-size: $font-size;
          line-height: $line-height;
          -webkit-line-clamp: $lines-to-show;
          -webkit-box-orient: vertical;
          overflow: scroll;
          text-overflow: ellipsis;
        }
      }
      .numbers {
        text-align: center;
        padding: 0 20px 0 70px;
        padding-top: 20px;
        .widget {
          padding: 10px 0;
          border-bottom: 1px solid #BEBEBE;
          .number {
            font-size: 55px;
            vertical-align: middle;
            text-align: center;
            color: #143964;
          }
          .title {
            font-size: 17px;
            vertical-align: middle;
            text-align: left;
            padding-left: 30px;;
            color: #696969;
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
    .bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-radius: 0 0 4px 4px;
      overflow: hidden;
      background: #202020;
      .button {
        text-align: center;
        padding: 20px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        background: #202020;
        img {
          height: 30px;
          opacity: .7;
          transition: .2s ease;
        }
        &:last-child {
          border: none;
        }
        &:hover {
          background: #2E2E2E;
          img {
            opacity: 1;
          }
        }
        &:active {
          background: #161616;
        }
      }
    }
  }
}

.add-beer-modal {
  // position: relative;
  width: 500px;
  // height: 59px;
  // height: 200px;
  background: transparent;
  box-shadow: none;
  // transition: all .3s ease;
  .header {
    input {
      font-size: 26px;
      padding: 24px;
      border-radius: 4px;
      width: 100%;
      -webkit-appearance: none;
      border: 1px solid #C5C5C5;;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      position: relative;
      z-index: 1;
    }
    ul {
      width: 98%;
      margin: auto;
      background: #dfdfdf;
      max-height: 400px;
      overflow: scroll;
      border-radius: 0 0 4px 4px;
      transition: all .2s ease;
      z-index: 0;
      li {
        border-bottom: 1px solid #A5A5A5;
        font-size: 20px;
        padding: 20px;
        cursor: pointer;
        position: relative;
        div {
          font-family: 'Anton', sans-serif;
          color: #303030
        }
        .small {
          font-size: 12px;
          margin-top: 10px;
          font-family: 'Open Sans', sans-serif;
        }
        &:after {
          content: "";
          position: absolute;
          height: 30px;
          width: 30px;
          top: 0;
          right: 20px;
          bottom: 0;
          left: auto;
          margin: auto;
          background-image: url(../res/plus-light.svg);
          background-size: contain;
          opacity: .2;
          transition: all .2s ease;
        }
        &:hover {
          background: #CECECE;
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
}



.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0) scale(1);
  transform: translateZ(60px);
}






