<div class="footer">
  <img src="/res/brand-white.png">
  <ul class="menu">
    <li><a href="/">HOME</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/logout">LOGOUT</a></li>
    <li><a href="/register">REGISTER</a></li>
    <li><a target="_blank" href="https://github.com/beer-guardian">GITHUB</a></li>
    <li><a target="_blank" href="https://devpost.com/software/beer-guardian">DEVPOST</a></li>
  </uk>
</div>