<div class="modal-cover"></div>
<div class="modal add-beer-modal abs-center">
  <div class="image"></div>
  <div class="inner">
    <div class="header">
    </div>
    <div class="body">
    </div>
  </div>
</div>