<div class="modal-cover"></div>
<div class="modal active-beer-modal abs-center">
  <div class="image"></div>
  <div class="inner">
    <div class="header">
      <div class="title"></div>
      <div class="brewery"></div>
    </div>
    <div class="body">
      <div class="col-wrapper">
        <div class="col seven desc">
          <span>ABOUT THIS BEER</span>
          <p></p>
        </div>
        <div class="col five numbers">
          <div class="col-wrapper widget abv">
            <div class="col four number"></div>
            <div class="col eight title">Alcohol by volume</div>
          </div>
          <div class="col-wrapper widget ibu">
            <div class="col four number"></div>
            <div class="col eight title">International bittering units</div>
          </div>
          <div class="col-wrapper widget score">
            <div class="col four number"></div>
            <div class="col eight title">Current score</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom col-wrapper">
      <div class="button col four vote-down"><img src="../res/thumbs-down.svg"></div>
      <div class="button col four vote-up"><img src="../res/thumbs-up.svg"></div>
      <div class="button col four modal-close"><img src="../res/close.svg"></div>
    </div>
  </div>
</div>