<div class="modal-cover "></div>
  <div class="modal beer-modal abs-center">
    <div class="image"></div>
    <div class="inner">
      <div class="header">
        <div class="title">MacTarnahan’s Amber Ale</div>
        <div class="brewery">PORTLAND BREWING CO</div>
      </div>
      <div class="body">
        <div class="col-wrapper">
          <div class="col seven desc">
            <span>ABOUT THIS BEER</span>
            <p>This beer can be made using either ale or lager yeast. It can be brewed with 30 to 75 percent wheat malt, and hop rates may be low to medium. Hop characters may be light to moderate in bitterness, flavor and aroma. Fruity-estery aroma and flavor are typical but at low levels however, phenolic, clove-like characteristics should not be perceived. Color is usually straw to light amber, and the body should be light to medium in character. Diacetyl should not be perceived. Because this style is served with yeast the character should portray a full yeasty mouthfeel and appear hazy to very cloudy. Chill haze is also acceptable. Yeast flavor and aroma should be low to medium but not overpowering the balance and character of malt and hops. These beers are typically served with the yeast in the bottle, and are cloudy when served.</p>
          </div>
          <div class="col five numbers">
            <div class="col-wrapper widget">
              <div class="col four number">4.2</div>
              <div class="col eight title">Alcohol by volume</div>
            </div>
            <div class="col-wrapper widget">
              <div class="col four number">10</div>
              <div class="col eight title">International bittering units</div>
            </div>
            <div class="col-wrapper widget">
              <div class="col four number">40</div>
              <div class="col eight title">Current score</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom col-wrapper">
        <div class="button col four"><img src="../res/thumbs-down.svg"></div>
        <div class="button col four"><img src="../res/thumbs-up.svg"></div>
        <div class="button col four modal-close"><img src="../res/close.svg"></div>
      </div>
    </div>
  </div>
