<nav class="{{class}}">
  <div class="inner">
    <div class="brand">
      <img class="inline" src="../res/logo-white.png">
      <span class="inline">BEER GUARDIAN</span>
    </div>
    <a href="/admin" class="login">
      <img class="inline" src="../res/user.svg">
    </a>
  </div>
</nav>